<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<beans:bean id="appUserDetailsService" class="com.whatido.security.AppUserDetailsService" />
	
	<http pattern="/javax.faces.resource/**" security="none" />
	
	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/Home.xhtml" access="permitAll" />
		<intercept-url pattern="/usuario/Cadastro.xhtml" access="permitAll"/>
		<intercept-url pattern="/usuario/Login.xhtml" access="permitAll"/>
		<intercept-url pattern="/usuario/RecuperarSenha.xhtml" access="permitAll"/>
		<intercept-url pattern="/Erro.xhtml" access="permitAll"/>
		<intercept-url pattern="/usuario/Informacoes.xhtml" access="hasAnyRole('ADMINISTRADOR', 'COMUM')"/>
		<intercept-url pattern="/listas/Listas.xhtml" access="hasAnyRole('ADMINISTRADOR', 'COMUM')"/>
		<intercept-url pattern="/tarefas/Tarefas.xhtml" access="hasAnyRole('ADMINISTRADOR', 'COMUM')"/>
		<intercept-url pattern="/TesteAutorizacao.xhtml" access="hasAnyRole('ADMINISTRADOR', 'COMUM')"/>
		<intercept-url pattern="/**" access="denyAll"/>
		
		<form-login login-page="/usuario/Login.xhtml" authentication-failure-url="/usuario/Login.xhtml?invalid=true"
			default-target-url="/listas/Listas.xhtml" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			
		</authentication-provider>
	</authentication-manager>
           
</beans:beans>